
body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    width: 80%;
}

.page-header {
    display: flex;
    justify-content: center;
    height: 175px;
    line-height: 125px;
}

.page-header h1 {
    font-size: 3rem;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 33.3%); 
    grid-auto-rows: auto;
}

article {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

img {
    max-height: 200px;
    object-fit: cover;
}