
body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    width: 80%;
}

.page-header {
    display: flex;
    justify-content: center;
    height: 175px;
    line-height: 125px;
}

.page-header h1 {
    font-size: 3rem;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 33.3%); 
    grid-auto-rows: auto;
}

article {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 5rem 1rem;
     
}

img {
    max-height: 200px;
    object-fit: cover;
}

.intro {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: #6a4e4e;
}

.article-text {
    font-family: 'Roboto Slab', serif;
    font-size: 1.1rem;
    line-height: 1.7rem;
    color: #0b0606;
    margin-bottom: 40px;
}

.btn-download {
    width: 80%;
    align-self: center;
    background-color: cornflowerblue;
    border-style: none;
}

.download {
    text-decoration: none;
    color: #0b0606;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3rem;
}

@media screen and (max-width: 850px) {
    .container {
        width: 100%;
    }

    main {
        display: grid;
        grid-template-columns: repeat(1, 100%); 
        grid-auto-rows: auto;
    }

    img {
        max-height: 300px;
        object-fit: cover;
    }
}

@media screen and (min-width: 851px) and (max-width: 1000px) {
    .container {
        width: 100%;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 50%); 
        grid-auto-rows: auto;
    }

}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}